* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 100%;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(35, 34, 34);
}
.head {
    width: 100%;
    height: 100%;

}
main{
    width: 60%;
    height: 100%;
    margin: 0 auto;
    
}
.relojes img {
    width: 250px;
    height: 350px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.relojes img:hover {
    transform: scale(1.1);
}

.audio {
    margin: 4rem 0 2rem;
    text-align: center;
    
}

.audio img:hover {
    transform: scale(1.1);
    
}
.audio h1 {
    margin: 4rem 0 2rem;
    text-align: center;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: 5px 5px 5px 5px;
}
.audio img {
    width: 250px;
    height: 300px;
    margin: 15px;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.audio img:hover {
    transform: scale(1.1);
}
.relojes{
    margin: 4rem 0 2rem;
    text-align: center;
}

.relojes h1 {
    font-size: 2rem;
    margin: 4rem 0 2rem;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
    box-shadow: 5px 5px 5px 5px;
    
}
ul {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    height: 100px;
    background-color: white;
    
}


li,a{
    text-decoration: none;
    color: aqua;
    list-style: none;
    font-size: 25px;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.navbar-nav {
    background-image: url(img/lamatecno1.jpg);
    box-shadow: 2px 2px 2px 2px;
    
}

h1 {
    box-shadow: 5px 5px 5px; 
}